<h1 align="center">Выберите действие с предметом</h1>
<br/>

<div style="margin-top: 5%; margin-left: auto; text-align: center; margin-right: auto; width: 40%; vertical-align: middle; border: solid black 3px; padding: 50px; border-radius: 7px;">
	<p>
		<%= link_to 'Выставить на продажу', '/items/sell_page',  class: 'btn btn-outline-primary', style: "width: 400px; padding: 10px;" %>
	</p>
	<p style="margin-top: 50px;">
		<%= link_to 'Выставить на обмен', '/items/trade_page', class: 'btn btn-outline-primary', style: "width: 400px; padding: 10px;" %>
	</p>
</div>